domain: home.example.com

nfs:
  server: your-nfs-hostname

cloudflare:
  apiToken: "your-cloudflare-api-token-here"

external-dns:
  domainFilters:
    - example.com

homeAssistant:
  timezone: America/Los_Angeles
